.obox{
    border: solid 1px;
    height: 600px;
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-size: 1650px 600px;
}
#cafe{
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 210px;
}
#register,#login{
    width: 200px;
    height: 50px;
    background-color: gold;
}
#register{
    margin-left: 500px;
}
#register a,#login a{
    color: blue;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;

}
#register:hover{
    background-color: orange;
}
#login:hover{
    background-color: orange;
}